/* ---------------------------------------- */
/* ==                HOME                 */
/*---------------------------------------- */
.main{
  position: absolute;
  top: 40%;
  left: 40%;
  margin : 85px 117px;
  align-items: center;
  justify-content: center;
  height: 100%;
}
