/* ---------------------------------------- */
/* ==                HOME                 */
/*---------------------------------------- */
.main{
  position: absolute;
  top: 50%;
  left: 50%;
  justify-items: center;
  height: 100%;
}
