@import '../../styles/Variables.scss';

/* ---------------------------------------- */
/* ==            CHART ACTIVITY            */
/*---------------------------------------- */
.activity {
	&-charts {
		box-sizing: border-box;
		width: 52.1875rem;
		height: 20rem;
		margin-bottom: 2rem;
		padding: 1.5rem 1.875rem;
		border-radius: 5px;
		background: #fbfbfb;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
		font-size: 0.87rem;
		@include desktop-breakpoint {
			margin-bottom: 0;
		}
		div:first-child {
			display: flex;
		}
		.tooltip {
			display: block !important;
			padding: 0.25rem 0.4375rem;
			background-color: red;
			color: white;
			font-size: 0.6875rem;
			line-height: 1.5rem;
			text-align: center;
		}
		.recharts {
			&-surface {
				margin-right: 0.75rem !important;
				margin-left: 0 !important;
			}
			&-legend-item {
				margin-right: 0 !important;
				margin-left: 2rem;
				&-text {
					color: #74798c !important;
					font-size: 0.875rem;
					font-weight: 500;
				}
			}
		}
		.chartactivity {
			&-title {
				position: absolute;
				color: #20253a;
				font-size: 0.9375rem;
				font-weight: 500;
			}
		}
	}
}
