/* ---------------------------------------- */
/* ==             SIDEBAR              	 ==	*/
/* ---------------------------------------- */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 7.3125rem;
	height: 100%;
	background: #020203;
	text-align: center;
	&-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&-copyright {
		position: absolute;
		bottom: 8rem;
		left: -8%;
		width: max-content;
		margin: 0;
		transform: rotate(-90deg);
		color: #ffffff;
		font-family: 'Roboto';
		font-size: 0.75rem;
		font-weight: 500;
	}
}


